body {
	color: #1FE08E;
	background-color: #576946;
	font-size: 1.1em;
}

h1 {
	color: #E3873C;
	text-shadow: 1px 1px #262626;
}

nav {
	color: #42211E;
}

nav a {
	color: #42211E;
}

a:link {
	color: #42211E;
	text-decoration: none;
}

a:visited {
	color: #9E6FB5;
}

a:hover {
	color: #B6C7E3;
	text-decoration: underline;
}

a:active {
	color: #FFFBEC;
}

h2, h3 {
	color: #2F2136;
	opacity: 0.7;
}

aside {
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
}

ul li {
	list-style: square;
}

ol li {
	list-style: upper-roman;
}

#ee li {
	line-height: 30px;
}

#perkname {
	font-weight: bold;
}

.name {
	text-align: right;
	width: 286px;
}

footer a {
	color: #42211E;
}